<!DOCTYPE html>
<html>
  <head>
  <title>MemoApp</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

    <script type="text/javascript"
      src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAVMOONWWYwiY4DpbzSWHZ1jukaJaiE9rc&callback= type=text/javascript"  async defer>
    </script>
  </head>

  <body onload="onInit()">
    <div id="msg">現在計測中...</div>
  </body>
  <script type="text/javascript">
    var d = new Date();
    document.write(d.toLocaleString());
  </script>
    <%= yield %>
    <p>Google Maps APIを使ったサンプル</p>


  <body>
      <div id="map_canvas" style="width:800px; height:600px"></div>
    <script type="text/javascript">
      var map = init_google_map();
      var iw_latlng2 = new google.maps.LatLng(34.960371, 137.062688);
      var infowindow2 = new google.maps.InfoWindow({
        content: '復路：aaaaa',
        position: iw_latlng2,
        zIndex: 2
      });
      infowindow2.open(map);
    </script>
  </body>




</html>


